@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --key-size: 75px;
  --board-size: calc(var(--key-size) * 4);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

body {
  background: url(../assets/background.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 0.8em;
}

.wrapper {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.215) 5px 5px 30px;

  padding: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  max-width: 16em;

  border: 5px solid white;
  border-radius: 30px;
}

.wrapper h1 {
  font-size: 4rem;
}

.board {
  display: flex;
}

.keys-wrapper {
  width: var(--board-size);
}

.keys-operators-left {
  display: flex;
  flex-direction: column;
}

.keys-operators-top {
  display: flex;
}

.keys-numbers {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

#number0 {
  flex-basis: calc(var(--key-size) * 2);
  border: 1px solid #bdcede;
}

.fa-solid {
  color: black;
  -webkit-text-stroke: 2px white;
}

.fa-regular {
  color: black;
  -webkit-text-stroke: 0.8px white;
}

#equals {
  background-color: #0d4f9d;
  color: white;
}

#multiply,
#add,
#substract,
#divide {
  color: #0d4f9d;
}

#clear {
  flex: 1;
}

.key {
  color: black;
  border: none;
  background-color: transparent;

  width: var(--key-size);
  height: var(--key-size);

  border-radius: 10rem;
  transition: all 0.2s ease;
}

.key:hover {
  background-color: rgba(227, 227, 227, 0.552);
}

.credits,
.credits a {
  font-size: medium;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.credits a:hover {
  text-decoration: underline;
}
